.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 246px 0 184px 0;
}

@media screen and (max-width: 748px) {
    .error__container {
        margin: 408px 0 184px 0;
    }
}

@media screen and (max-width: 320px) {
    .error__container {
        margin: 329px 0 284px 0;
    }
}

.error__code {
    font-size: 140px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 5px 0;
}

@media screen and (max-width: 320px) {
    .error__code {
        font-size: 80px;
    }
}

.error__message {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .error__message {
        font-size: 12px;
    }
}

.error__button {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .error__button {
        font-size: 12px;
    }
}

.error__button:hover {
    transition: opacity .3s ease;
    opacity: .6;
    cursor: pointer;
}